// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post{
  border: 1px solid;
  width: 35%;
  margin-top: 30px;
  display: flex;
}

.checkbox-info {
  width: 10%;
  display: flex;
  justify-content: center;
}

.post-info {
  width: 90%;
}

.post-date{
  color: gray;
}