// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post{
  border: 1px solid;
  width: 35%;
  margin-top: 30px;
  display: flex;
}

.checkbox-info {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-info {
  width: 90%;
}

.post-date{
  color: gray;
}

// チェックボックス
input[type="checkbox"] {
  opacity:0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

input[type="checkbox"] + span::before {
  display: inline-block;
  content: '';
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: .5rem;
}

input[type="checkbox"]:checked + span::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpolyline fill='none' stroke='%230bd' stroke-width='3' points='2,7.3 7.3,12.7 18,2 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

// input[type="checkbox"]:checked  + span::before {
//   // display: inline-block;
//   font-family: fontAwesome;
//   content: '\f00c';
//   // width: 1rem;
//   // height: 1rem;
//   // border: 2px solid #ccc;
//   // border-radius: 5px;
//   // margin-right: .5rem;
// }
